
obj/Debug/net5.0/apphost.exe
CSharpCallingLaPack/bin/Debug/net5.0/CSharpCallingLaPack.dll
CSharpCallingLaPack/bin/Debug/net5.0/lapack_module.so
CSharpCallingLaPack/bin/Debug/net5.0/ref/CSharpCallingLaPack.dll
CSharpCallingLaPack/lapack_module.mod
CSharpCallingLaPack/lapack_module.so
CSharpCallingLaPack/obj/Debug/net5.0/ref/CSharpCallingLaPack.dll
CSharpCallingLaPack/obj/Debug/net5.0/CSharpCallingLaPack.dll
CSharpCallingLaPack/obj/Debug/net5.0/CSharpCallingLaPack.pdb
bin/Debug/net5.0/ref/CSharpLaPack.dll
bin/Debug/net5.0/CSharpLaPack.dll
obj/Debug/net5.0/ref/CSharpLaPack.dll
obj/Debug/net5.0/CSharpLaPack.pdb
obj/Debug/net5.0/CSharpLaPack.dll
